name: pre-commit

on:
  pull_request:

jobs:
  pre-commit:
    runs-on: ubuntu-latest

    strategy:
      matrix:
        python-version: [ "3.10" ]

    steps:
    - name: Checkout source repository
      uses: actions/checkout@v4
    - name: Set up python ${{ matrix.python-version }}
      uses: actions/setup-python@v4
      with:
        python-version: ${{ matrix.python-version }}
    - name: Install dependencies for testing
      run: |
        python3 -m pip install --upgrade pip
        python3 -m pip install .[test]
    - name: Run pre-commit
      uses: pre-commit/action@v3.0.0
