name: Upload to pypi.org

on:
  # Triggers the workflow when a release is created
  release:
    types: [created]

  workflow_dispatch:

jobs:
  upload:
    runs-on: ubuntu-latest

    strategy:
      matrix:
        python-version: [ "3.12" ]

    steps:
      - name: Checkout source repository
        uses: actions/checkout@v4
      - name: Set up python ${{ matrix.python-version }}
        uses: actions/setup-python@v5
        with:
          python-version: ${{ matrix.python-version }}
      - name: Install and update pip and the build dependencies
        run: |
          python3 -m pip install --upgrade pip
          python3 -m pip install .[dev]
      - name: Build and Upload to PyPI
        run: |
          python3 -m build
          python3 -m twine upload dist/*
        env:
          TWINE_USERNAME: __token__
          TWINE_PASSWORD: ${{ secrets.TWINE_TOKEN }}
